
<h1 class="text-center mt-4">Results matched</h1>
<div class="flickr_pagination">
    <%= will_paginate @questions, :container => false %>
</div>
<%= render 'question' %>
<div class="flickr_pagination mb-4">
    <%= will_paginate @questions, :container => false %>
</div>




