<div class="container" id="home-container">
    <div class="jumbotron text-center text-white">
        <h1 class="display-4">Doubts Solver</h1>
        <p class="lead">Got stuck at a question! No problem, Ask our mentors and get solutions.</p>
        <hr class="my-4">
    </div>
</div>