<h1> Notification</h1>

<h5> Hey <%=@student.name%> , Hope your doing well </h5>

<br> <br>

<p> Your question <em> <%= @question.que %>  </em> has been <strong> ANSWERED </strong> by teacher 
<%= @teacher.name %>. Once please check it by visiting your doubt solving app </p>

<br> <br>

<p>Thanks and regards, </p> <br>
<p>Doubt solver, Admin Team. </p>
