<h1> Notification</h1>

<h3> Hey <%=@student.name%> , Hope your doing well </h3>

<p> Your question <em> <%= @question.que %>  </em> has been <strong> ANSWERED </strong> by teacher 
<%= @teacher.name %>. Once please check it by visiting your doubt solving app </p>

<br> 

<p>Thanks and regards, </p> 
<p>Doubt solver, Admin Team. </p>
